.articles-stack .item {
  padding: 0 0 8px;
}
.articles-stack .item:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
.articles-stack h5 {
  font-size: 20px;
  font-family: 'Noto Serif', serif;
}
.articles-stack h5 a {
  color: #1d1d1d;
  text-decoration: none;
}
.articles-stack .preview {
  color: #646a6e;
  font-weight: 300;
}
.articles-stack .system-info {
  font-size: 12px;
}
.articles-stack .system-info .user-avatar {
  height: 35px;
  width: 35px;
}
.articles-stack .system-info a {
  color: #33373b;
}
.articles-stack .system-info .date-comments {
  margin-top: 7px;
  color: #63696d;
}
.articles-stack .system-info .date-comments .comments {
  color: #e73f3f;
}
.articles-stack .system-info .date-comments span:first-child {
  margin-right: 10px;
}
.articles-stack .system-info .date-comments i {
  font-size: 14.5px;
  position: relative;
  bottom: -2px;
}
