.articles-stack .item {
  padding: 0 0 8px;
}
.articles-stack .item:not(:last-child) {
  border-bottom: 1px solid #dbdbdb;
}
.articles-stack h5 {
  font-size: 20px;
  font-family: 'Noto Serif', serif;
}
.articles-stack h5 a {
  color: #1d1d1d;
  text-decoration: none;
}
.articles-stack .preview {
  color: #646a6e;
  font-weight: 300;
}
.articles-stack .system-info {
  font-size: 12px;
}
.articles-stack .system-info .user-avatar {
  height: 35px;
  width: 35px;
}
.articles-stack .system-info a {
  color: #33373b;
}
.articles-stack .system-info .date-comments {
  margin-top: 7px;
  color: #63696d;
}
.articles-stack .system-info .date-comments .comments {
  color: #e73f3f;
}
.articles-stack .system-info .date-comments span:first-child {
  margin-right: 10px;
}
.articles-stack .system-info .date-comments i {
  font-size: 14.5px;
  position: relative;
  bottom: -2px;
}
.best-users .user-item {
  padding: 0 2px 4px;
}
.best-users .user-item .user-inner {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}
.best-users .user-item .user-inner .background {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  -moz-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.best-users .user-item .user-inner .user-information {
  position: relative;
  z-index: 2;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}
.best-users .user-item .user-inner a {
  color: #fff;
}
.best-users .user-item .user-inner i {
  font-size: 15px;
  margin-right: 5px;
}
.best-users .user-item .user-inner .mdi-action-thumb-up {
  color: #e36262;
}
.best-users .user-item .user-inner .mdi-communication-chat {
  color: #39c2ef;
}
.best-users .user-item .user-inner .mdi-editor-insert-drive-file {
  color: #F9D486;
}
.best-users .user-item .user-inner ul li {
  margin: 10px 0;
}
.best-users :hover .background {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.best-users .col-xs-6.col-sm-4.col-md-3.col-lg-3 .background {
  top: -45%;
}
.presents-preview {
  margin-right: -15px;
}
.presents-preview .shop-item {
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
  position: relative;
}
.presents-preview .shop-item img {
  max-height: 250px;
  min-height: 250px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}
.presents-preview .shop-item .product-info {
  background: #f5f5f5;
  padding: 2px 10px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin: 0 0 5px;
  position: relative;
}
.presents-preview .shop-item .title {
  text-align: center;
}
.presents-preview .shop-item .tag {
  position: absolute;
  padding: 5px 10px 5px 15px;
  top: 5px;
  left: -6px;
  box-shadow: inset 6px 0 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
}
.presents-preview .shop-item .tag:before {
  content: " ";
  display: block;
  position: absolute;
  right: 1px;
  top: 50%;
  margin-top: -1px;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.presents-preview .shop-item .tag:after {
  content: " ";
  display: block;
  position: absolute;
  right: -6px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 0 14px 6px;
  border-color: transparent transparent transparent #39c2ef;
}
.presents-preview .shop-item .tag.background-orange:after {
  border-color: transparent transparent transparent #E73F3F;
}
.category-page {
  background: #f00;
}
.category-page .sp-layer {
  position: relative;
}
.category-page .slider-news-info {
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.4);
  padding: 2px 10px;
  margin: 0 0 10px;
}
.category-page .slider-news-info h4 {
  color: #fff;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
