.social-block {
  padding: 20px 0 0 15px;
  position: absolute;
  z-index: 900;
}
.social-block .big-circle {
  width: 58px;
  height: 58px;
  margin: 0 auto 10px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  padding: 14px 0 0 0;
  border: 3px solid;
  color: #d9d9d9;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-block .big-circle .counter {
  position: absolute;
  top: -10px;
  right: -10px;
  min-width: 30px;
  height: 30px;
  font-size: 12px;
  padding: 6px 3px;
  border-radius: 20px;
  color: #fff;
}
.social-block .big-circle.share .counter {
  background: #e36262;
}
.social-block .big-circle.share:hover {
  color: #e36262;
}
.social-block .big-circle.likes .counter {
  background: #4ac7f0;
}
.social-block .big-circle.likes:hover {
  color: #4ac7f0;
}
.social-block .big-circle.stars .counter {
  background: #f3c217;
}
.social-block .big-circle.stars:hover {
  color: #f3c217;
}
#user-page .wallpaper-block {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 20px;
}
#user-page .wallpaper-block .user-avatar {
  display: block;
  width: 150px;
  border-radius: 90px;
  border: 3px solid #fff;
  margin: 20px auto;
}
#user-page .wallpaper-block h1 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}
#user-page .simple-box {
  position: relative;
  overflow: hidden;
}
#user-page .simple-box .user-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
}
#user-page .simple-box .user-wallpaper-blur {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}
#user-page .simple-box .user-wallpaper-blur img {
  display: block;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
#user-page .simple-box .user-wallpaper-blur:after {
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  content: " ";
  background: rgba(0, 0, 0, 0.2);
}
#user-page .photo-container div {
  padding: 0;
}
#user-page .photo-container :nth-child(even) {
  padding: 0 0 5px 2.5px;
}
#user-page .photo-container :nth-child(odd) {
  padding: 0 2.5px 5px 0;
}
#user-page .article-item {
  padding: 0 0 10px 0;
}
#user-page .article-item a {
  color: #1d1d1d;
}
#user-page .article-item a h3 {
  font-family: 'Noto Serif', serif;
  font-size: 13pt;
  font-weight: 800;
}
#user-page .article-item img {
  max-width: 80%;
  margin: 20px auto;
}
#user-page .article-item .stats-block {
  font-size: 9pt;
  color: #7d7d7d;
}
#user-page .article-item .stats-block span {
  margin: 0 10px;
}
@media (min-width: 992px) {
  .wallpaper-block {
    min-height: 305px;
  }
}
@media (min-width: 1200px) {
  .wallpaper-block {
    min-height: 370px;
  }
}
