.vote-block .vote-variants li {
  border-top: 1px solid #f1f1f1;
  padding: 5px 0;
}
.vote-block .vinner {
  background: #02a3d8;
  color: #fff;
  padding: 5px;
  font-size: 12px;
}
.vote-block .vinner .vinner-name {
  font-weight: 800;
  text-transform: uppercase;
}
.vote-block .vinner label {
  text-transform: uppercase;
}
